storage/*
vendor/*
composer.lock
.env.save
*.log
*.sql
dumps/
bootstrap/cache/
.vscode/
.claude/
node_modules/
public/logs/*
public/index_bk.php
public/info.php
public/old-storage
public/vcs.log.bkp
public_bk/
momeni/
config.bat
